# [ShinoMontazh]

In [0]:
USE [master]
GO

In [0]:
/****** Object:  Database [ShinoMontazh]    Script Date: 24.09.2025 10:44:02 ******/
CREATE DATABASE [ShinoMontazh]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShinoMontazh', FILENAME = N'C:\Users\исп-44\ShinoMontazh.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ShinoMontazh_log', FILENAME = N'C:\Users\исп-44\ShinoMontazh_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
ALTER DATABASE [ShinoMontazh] SET COMPATIBILITY_LEVEL = 150
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShinoMontazh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [ShinoMontazh] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [ShinoMontazh] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [ShinoMontazh] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [ShinoMontazh] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [ShinoMontazh] SET ARITHABORT OFF 
GO
ALTER DATABASE [ShinoMontazh] SET AUTO_CLOSE OFF 
GO
ALTER DATABASE [ShinoMontazh] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [ShinoMontazh] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [ShinoMontazh] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [ShinoMontazh] SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [ShinoMontazh] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [ShinoMontazh] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [ShinoMontazh] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [ShinoMontazh] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [ShinoMontazh] SET  DISABLE_BROKER 
GO
ALTER DATABASE [ShinoMontazh] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [ShinoMontazh] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [ShinoMontazh] SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [ShinoMontazh] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [ShinoMontazh] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [ShinoMontazh] SET READ_COMMITTED_SNAPSHOT OFF 
GO
ALTER DATABASE [ShinoMontazh] SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [ShinoMontazh] SET RECOVERY SIMPLE 
GO
ALTER DATABASE [ShinoMontazh] SET  MULTI_USER 
GO
ALTER DATABASE [ShinoMontazh] SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [ShinoMontazh] SET DB_CHAINING OFF 
GO
ALTER DATABASE [ShinoMontazh] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [ShinoMontazh] SET TARGET_RECOVERY_TIME = 60 SECONDS 
GO
ALTER DATABASE [ShinoMontazh] SET DELAYED_DURABILITY = DISABLED 
GO
ALTER DATABASE [ShinoMontazh] SET ACCELERATED_DATABASE_RECOVERY = OFF  
GO
ALTER DATABASE [ShinoMontazh] SET QUERY_STORE = OFF
GO

# [dbo].[Автомобили]

In [0]:
USE [ShinoMontazh]
GO

In [0]:
/****** Object:  Table [dbo].[Автомобили]    Script Date: 24.09.2025 10:44:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Автомобили](
	[id_авто] [int] IDENTITY(1,1) NOT NULL,
	[id_клиента] [int] NOT NULL,
	[марка] [nvarchar](50) NOT NULL,
	[модель] [nvarchar](50) NOT NULL,
	[год_выпуска] [int] NULL,
	[vin] [nvarchar](17) NULL,
	[гос_номер] [nvarchar](15) NULL,
	[тип_авто] [nvarchar](30) NULL,
	[объем_двигателя] [decimal](3, 1) NULL,
	[примечание] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_авто] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Диски]

In [0]:
/****** Object:  Table [dbo].[Диски]    Script Date: 24.09.2025 10:44:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Диски](
	[id_диска] [int] IDENTITY(1,1) NOT NULL,
	[производитель] [nvarchar](50) NOT NULL,
	[модель_диска] [nvarchar](50) NOT NULL,
	[диаметр] [int] NOT NULL,
	[ширина] [int] NOT NULL,
	[вылет] [int] NULL,
	[pcd] [decimal](4, 2) NULL,
	[цо] [decimal](4, 2) NULL,
	[материал] [nvarchar](20) NULL,
	[цвет] [nvarchar](30) NULL,
	[цена_за_штуку] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_диска] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Заказы]

In [0]:
/****** Object:  Table [dbo].[Заказы]    Script Date: 24.09.2025 10:44:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказы](
	[id_заказа] [int] IDENTITY(1,1) NOT NULL,
	[id_клиента] [int] NOT NULL,
	[id_авто] [int] NOT NULL,
	[дата_приема] [date] NOT NULL,
	[дата_выдачи] [date] NULL,
	[статус] [nvarchar](20) NULL,
	[итоговая_сумма] [decimal](12, 2) NULL,
	[скидка_процент] [decimal](5, 2) NULL,
	[оплачен] [bit] NULL,
	[примечание] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_заказа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Клиенты]

In [0]:
/****** Object:  Table [dbo].[Клиенты]    Script Date: 24.09.2025 10:44:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Клиенты](
	[id_клиента] [int] IDENTITY(1,1) NOT NULL,
	[имя] [nvarchar](50) NOT NULL,
	[фамилия] [nvarchar](50) NOT NULL,
	[телефон] [nvarchar](20) NOT NULL,
	[email] [nvarchar](100) NULL,
	[адрес] [nvarchar](255) NULL,
	[дата_регистрации] [date] NULL,
	[бонусные_баллы] [int] NULL,
	[статус_клиента] [nvarchar](20) NULL,
	[примечание] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_клиента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Персонал]

In [0]:
/****** Object:  Table [dbo].[Персонал]    Script Date: 24.09.2025 10:44:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Персонал](
	[id_сотрудника] [int] IDENTITY(1,1) NOT NULL,
	[имя] [nvarchar](50) NOT NULL,
	[фамилия] [nvarchar](50) NOT NULL,
	[должность] [nvarchar](30) NULL,
	[телефон] [nvarchar](20) NULL,
	[дата_найма] [date] NULL,
	[ставка_в_час] [decimal](8, 2) NULL,
	[квалификация] [nvarchar](50) NULL,
	[активен] [bit] NULL,
	[примечание] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_сотрудника] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Склад_дисков]

In [0]:
/****** Object:  Table [dbo].[Склад_дисков]    Script Date: 24.09.2025 10:44:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Склад_дисков](
	[id_записи] [int] IDENTITY(1,1) NOT NULL,
	[id_диска] [int] NOT NULL,
	[количество_на_складе] [int] NOT NULL,
	[дата_поступления] [date] NULL,
	[партия] [nvarchar](50) NULL,
	[поставщик] [nvarchar](100) NULL,
	[гарантия_мес] [int] NULL,
	[место_хранения] [nvarchar](100) NULL,
	[статус_товара] [nvarchar](20) NULL,
	[примечание] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_записи] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Склад_шин]

In [0]:
/****** Object:  Table [dbo].[Склад_шин]    Script Date: 24.09.2025 10:44:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Склад_шин](
	[id_записи] [int] IDENTITY(1,1) NOT NULL,
	[id_шины] [int] NOT NULL,
	[количество_на_складе] [int] NOT NULL,
	[дата_поступления] [date] NULL,
	[партия] [nvarchar](50) NULL,
	[поставщик] [nvarchar](100) NULL,
	[срок_годности] [date] NULL,
	[место_хранения] [nvarchar](100) NULL,
	[статус_товара] [nvarchar](20) NULL,
	[примечание] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_записи] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Состав_заказа]

In [0]:
/****** Object:  Table [dbo].[Состав_заказа]    Script Date: 24.09.2025 10:44:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Состав_заказа](
	[id_строки] [int] IDENTITY(1,1) NOT NULL,
	[id_заказа] [int] NOT NULL,
	[id_услуги] [int] NULL,
	[id_шины] [int] NULL,
	[id_диска] [int] NULL,
	[количество] [int] NULL,
	[цена_за_единицу] [decimal](10, 2) NULL,
	[сумма] [decimal](12, 2) NULL,
	[выполнено] [bit] NULL,
	[дата_выполнения] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_строки] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Услуги]

In [0]:
/****** Object:  Table [dbo].[Услуги]    Script Date: 24.09.2025 10:44:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Услуги](
	[id_услуги] [int] IDENTITY(1,1) NOT NULL,
	[название] [nvarchar](100) NOT NULL,
	[описание] [nvarchar](255) NULL,
	[категория] [nvarchar](30) NULL,
	[длительность_мин] [int] NULL,
	[стоимость] [decimal](10, 2) NOT NULL,
	[требуется_шины] [bit] NULL,
	[требуется_диски] [bit] NULL,
	[активна] [bit] NULL,
	[примечание] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_услуги] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Шины]

In [0]:
/****** Object:  Table [dbo].[Шины]    Script Date: 24.09.2025 10:44:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Шины](
	[id_шины] [int] IDENTITY(1,1) NOT NULL,
	[производитель] [nvarchar](50) NOT NULL,
	[модель_шины] [nvarchar](50) NOT NULL,
	[ширина] [int] NOT NULL,
	[высота_профиля] [int] NOT NULL,
	[диаметр_диска] [int] NOT NULL,
	[сезонность] [nvarchar](20) NULL,
	[шипы] [bit] NULL,
	[индекс_скорости] [nvarchar](5) NULL,
	[индекс_нагрузки] [int] NULL,
	[цена_за_штуку] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_шины] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Диски]

In [0]:
SET IDENTITY_INSERT [dbo].[Диски] ON 
INSERT [dbo].[Диски] ([id_диска], [производитель], [модель_диска], [диаметр], [ширина], [вылет], [pcd], [цо], [материал], [цвет], [цена_за_штуку]) VALUES (1, N'AEZ', N'Avus', 16, 7, 45, CAST(5.11 AS Decimal(4, 2)), CAST(66.10 AS Decimal(4, 2)), N'Алюминий', N'Серебро', CAST(6500.00 AS Decimal(10, 2)))
INSERT [dbo].[Диски] ([id_диска], [производитель], [модель_диска], [диаметр], [ширина], [вылет], [pcd], [цо], [материал], [цвет], [цена_за_штуку]) VALUES (2, N'K&K', N'Racing', 17, 7, 50, CAST(5.11 AS Decimal(4, 2)), CAST(73.10 AS Decimal(4, 2)), N'Алюминий', N'Чёрный', CAST(7200.00 AS Decimal(10, 2)))
INSERT [dbo].[Диски] ([id_диска], [производитель], [модель_диска], [диаметр], [ширина], [вылет], [pcd], [цо], [материал], [цвет], [цена_за_штуку]) VALUES (3, N'Replica', N'BMW Style 406', 18, 8, 35, CAST(5.12 AS Decimal(4, 2)), CAST(72.60 AS Decimal(4, 2)), N'Алюминий', N'Графит', CAST(9500.00 AS Decimal(10, 2)))
INSERT [dbo].[Диски] ([id_диска], [производитель], [модель_диска], [диаметр], [ширина], [вылет], [pcd], [цо], [материал], [цвет], [цена_за_штуку]) VALUES (4, N'Enzo', N'Classic', 15, 6, 40, CAST(4.10 AS Decimal(4, 2)), CAST(58.60 AS Decimal(4, 2)), N'Сталь', N'Серый', CAST(2800.00 AS Decimal(10, 2)))
INSERT [dbo].[Диски] ([id_диска], [производитель], [модель_диска], [диаметр], [ширина], [вылет], [pcd], [цо], [материал], [цвет], [цена_за_штуку]) VALUES (5, N'OZ Racing', N'Ultraleggera', 18, 8, 38, CAST(5.11 AS Decimal(4, 2)), CAST(66.10 AS Decimal(4, 2)), N'Кованый', N'Матовый чёрный', CAST(14000.00 AS Decimal(10, 2)))
INSERT [dbo].[Диски] ([id_диска], [производитель], [модель_диска], [диаметр], [ширина], [вылет], [pcd], [цо], [материал], [цвет], [цена_за_штуку]) VALUES (6, N'Dotz', N'Dresden', 17, 7, 42, CAST(5.11 AS Decimal(4, 2)), CAST(66.10 AS Decimal(4, 2)), N'Алюминий', N'Белый', CAST(6800.00 AS Decimal(10, 2)))
INSERT [dbo].[Диски] ([id_диска], [производитель], [модель_диска], [диаметр], [ширина], [вылет], [pcd], [цо], [материал], [цвет], [цена_за_штуку]) VALUES (7, N'Kosei', N'KR10', 16, 7, 48, CAST(5.11 AS Decimal(4, 2)), CAST(73.10 AS Decimal(4, 2)), N'Кованый', N'Серебро', CAST(11000.00 AS Decimal(10, 2)))
INSERT [dbo].[Диски] ([id_диска], [производитель], [модель_диска], [диаметр], [ширина], [вылет], [pcd], [цо], [материал], [цвет], [цена_за_штуку]) VALUES (8, N'Dezent', N'TB', 15, 6, 45, CAST(4.10 AS Decimal(4, 2)), CAST(58.60 AS Decimal(4, 2)), N'Сталь', N'Чёрный', CAST(2500.00 AS Decimal(10, 2)))
INSERT [dbo].[Диски] ([id_диска], [производитель], [модель_диска], [диаметр], [ширина], [вылет], [pcd], [цо], [материал], [цвет], [цена_за_штуку]) VALUES (9, N'BBS', N'CH-R', 18, 8, 35, CAST(5.12 AS Decimal(4, 2)), CAST(72.60 AS Decimal(4, 2)), N'Кованый', N'Глянцевый чёрный', CAST(18000.00 AS Decimal(10, 2)))
INSERT [dbo].[Диски] ([id_диска], [производитель], [модель_диска], [диаметр], [ширина], [вылет], [pcd], [цо], [материал], [цвет], [цена_за_штуку]) VALUES (10, N'Alcasta', N'E18', 16, 6, 40, CAST(4.10 AS Decimal(4, 2)), CAST(58.60 AS Decimal(4, 2)), N'Алюминий', N'Серебро', CAST(5200.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Диски] OFF
GO

# [dbo].[Клиенты]

In [0]:
SET IDENTITY_INSERT [dbo].[Клиенты] ON 
INSERT [dbo].[Клиенты] ([id_клиента], [имя], [фамилия], [телефон], [email], [адрес], [дата_регистрации], [бонусные_баллы], [статус_клиента], [примечание]) VALUES (1, N'Иван', N'Петров', N'+79001112233', N'ivan.p@example.com', N'г. Москва, ул. Ленина, 10', CAST(N'2023-01-15' AS Date), 120, N'Постоянный', NULL)
INSERT [dbo].[Клиенты] ([id_клиента], [имя], [фамилия], [телефон], [email], [адрес], [дата_регистрации], [бонусные_баллы], [статус_клиента], [примечание]) VALUES (2, N'Анна', N'Сидорова', N'+79002223344', N'anna.s@example.com', N'г. Санкт-Петербург, Невский пр. 25', CAST(N'2023-02-01' AS Date), 80, N'Новый', NULL)
INSERT [dbo].[Клиенты] ([id_клиента], [имя], [фамилия], [телефон], [email], [адрес], [дата_регистрации], [бонусные_баллы], [статус_клиента], [примечание]) VALUES (3, N'Дмитрий', N'Кузнецов', N'+79003334455', N'dmitry.k@example.com', N'г. Екатеринбург, ул. Мира, 5', CAST(N'2022-11-10' AS Date), 300, N'VIP', N'Часто приезжает зимой')
INSERT [dbo].[Клиенты] ([id_клиента], [имя], [фамилия], [телефон], [email], [адрес], [дата_регистрации], [бонусные_баллы], [статус_клиента], [примечание]) VALUES (4, N'Елена', N'Волкова', N'+79004445566', N'elena.v@example.com', N'г. Новосибирск, ул. Гагарина, 12', CAST(N'2023-03-20' AS Date), 40, N'Новый', NULL)
INSERT [dbo].[Клиенты] ([id_клиента], [имя], [фамилия], [телефон], [email], [адрес], [дата_регистрации], [бонусные_баллы], [статус_клиента], [примечание]) VALUES (5, N'Сергей', N'Морозов', N'+79005556677', N'sergey.m@example.com', N'г. Казань, ул. Баумана, 8', CAST(N'2022-09-05' AS Date), 210, N'Постоянный', NULL)
INSERT [dbo].[Клиенты] ([id_клиента], [имя], [фамилия], [телефон], [email], [адрес], [дата_регистрации], [бонусные_баллы], [статус_клиента], [примечание]) VALUES (6, N'Ольга', N'Новикова', N'+79006667788', N'olga.n@example.com', N'г. Самара, ул. Победы, 15', CAST(N'2023-04-12' AS Date), 0, N'Новый', NULL)
INSERT [dbo].[Клиенты] ([id_клиента], [имя], [фамилия], [телефон], [email], [адрес], [дата_регистрации], [бонусные_баллы], [статус_клиента], [примечание]) VALUES (7, N'Алексей', N'Зайцев', N'+79007778899', N'alex.z@example.com', N'г. Ростов-на-Дону, ул. Садовая, 3', CAST(N'2023-01-30' AS Date), 150, N'Постоянный', NULL)
INSERT [dbo].[Клиенты] ([id_клиента], [имя], [фамилия], [телефон], [email], [адрес], [дата_регистрации], [бонусные_баллы], [статус_клиента], [примечание]) VALUES (8, N'Мария', N'Лебедева', N'+79008889900', N'maria.l@example.com', N'г. Уфа, ул. Ленина, 22', CAST(N'2022-12-18' AS Date), 250, N'VIP', NULL)
INSERT [dbo].[Клиенты] ([id_клиента], [имя], [фамилия], [телефон], [email], [адрес], [дата_регистрации], [бонусные_баллы], [статус_клиента], [примечание]) VALUES (9, N'Владимир', N'Соколов', N'+79009990011', N'vlad.s@example.com', N'г. Краснодар, ул. Красная, 7', CAST(N'2023-02-28' AS Date), 60, N'Новый', NULL)
INSERT [dbo].[Клиенты] ([id_клиента], [имя], [фамилия], [телефон], [email], [адрес], [дата_регистрации], [бонусные_баллы], [статус_клиента], [примечание]) VALUES (10, N'Татьяна', N'Попова', N'+79000001122', N'tanya.p@example.com', N'г. Воронеж, ул. Плехановская, 19', CAST(N'2023-05-01' AS Date), 90, N'Постоянный', NULL)
SET IDENTITY_INSERT [dbo].[Клиенты] OFF
GO

# [dbo].[Персонал]

In [0]:
SET IDENTITY_INSERT [dbo].[Персонал] ON 
INSERT [dbo].[Персонал] ([id_сотрудника], [имя], [фамилия], [должность], [телефон], [дата_найма], [ставка_в_час], [квалификация], [активен], [примечание]) VALUES (1, N'Артём', N'Смирнов', N'Мастер', N'+79101112233', CAST(N'2020-05-01' AS Date), CAST(800.00 AS Decimal(8, 2)), N'Высшая', 1, NULL)
INSERT [dbo].[Персонал] ([id_сотрудника], [имя], [фамилия], [должность], [телефон], [дата_найма], [ставка_в_час], [квалификация], [активен], [примечание]) VALUES (2, N'Екатерина', N'Иванова', N'Менеджер', N'+79102223344', CAST(N'2021-03-15' AS Date), CAST(700.00 AS Decimal(8, 2)), N'Средняя', 1, NULL)
INSERT [dbo].[Персонал] ([id_сотрудника], [имя], [фамилия], [должность], [телефон], [дата_найма], [ставка_в_час], [квалификация], [активен], [примечание]) VALUES (3, N'Максим', N'Орлов', N'Кладовщик', N'+79103334455', CAST(N'2022-01-10' AS Date), CAST(500.00 AS Decimal(8, 2)), N'Начальная', 1, NULL)
INSERT [dbo].[Персонал] ([id_сотрудника], [имя], [фамилия], [должность], [телефон], [дата_найма], [ставка_в_час], [квалификация], [активен], [примечание]) VALUES (4, N'Павел', N'Громов', N'Мастер', N'+79104445566', CAST(N'2019-11-20' AS Date), CAST(850.00 AS Decimal(8, 2)), N'Высшая', 1, N'Специалист по легкосплавным дискам')
INSERT [dbo].[Персонал] ([id_сотрудника], [имя], [фамилия], [должность], [телефон], [дата_найма], [ставка_в_час], [квалификация], [активен], [примечание]) VALUES (5, N'Анна', N'Крылова', N'Администратор', N'+79105556677', CAST(N'2023-02-01' AS Date), CAST(600.00 AS Decimal(8, 2)), N'Средняя', 1, NULL)
INSERT [dbo].[Персонал] ([id_сотрудника], [имя], [фамилия], [должность], [телефон], [дата_найма], [ставка_в_час], [квалификация], [активен], [примечание]) VALUES (6, N'Денис', N'Федоров', N'Мастер', N'+79106667788', CAST(N'2021-07-12' AS Date), CAST(780.00 AS Decimal(8, 2)), N'Средняя', 1, NULL)
INSERT [dbo].[Персонал] ([id_сотрудника], [имя], [фамилия], [должность], [телефон], [дата_найма], [ставка_в_час], [квалификация], [активен], [примечание]) VALUES (7, N'Светлана', N'Макарова', N'Менеджер', N'+79107778899', CAST(N'2022-09-05' AS Date), CAST(720.00 AS Decimal(8, 2)), N'Средняя', 0, N'В декрете')
INSERT [dbo].[Персонал] ([id_сотрудника], [имя], [фамилия], [должность], [телефон], [дата_найма], [ставка_в_час], [квалификация], [активен], [примечание]) VALUES (8, N'Игорь', N'Белов', N'Кладовщик', N'+79108889900', CAST(N'2023-01-20' AS Date), CAST(520.00 AS Decimal(8, 2)), N'Начальная', 1, NULL)
INSERT [dbo].[Персонал] ([id_сотрудника], [имя], [фамилия], [должность], [телефон], [дата_найма], [ставка_в_час], [квалификация], [активен], [примечание]) VALUES (9, N'Юлия', N'Соколова', N'Администратор', N'+79109990011', CAST(N'2020-12-01' AS Date), CAST(610.00 AS Decimal(8, 2)), N'Средняя', 1, NULL)
INSERT [dbo].[Персонал] ([id_сотрудника], [имя], [фамилия], [должность], [телефон], [дата_найма], [ставка_в_час], [квалификация], [активен], [примечание]) VALUES (10, N'Роман', N'Власов', N'Мастер', N'+79100001122', CAST(N'2018-08-15' AS Date), CAST(900.00 AS Decimal(8, 2)), N'Высшая', 1, N'Старший мастер')
SET IDENTITY_INSERT [dbo].[Персонал] OFF
GO

# [dbo].[Склад_дисков]

In [0]:
SET IDENTITY_INSERT [dbo].[Склад_дисков] ON 
INSERT [dbo].[Склад_дисков] ([id_записи], [id_диска], [количество_на_складе], [дата_поступления], [партия], [поставщик], [гарантия_мес], [место_хранения], [статус_товара], [примечание]) VALUES (1, 1, 8, CAST(N'2024-01-12' AS Date), N'D2024-01', N'ООО "ДискМастер"', 24, N'Ряд F, стеллаж 1', N'В наличии', NULL)
INSERT [dbo].[Склад_дисков] ([id_записи], [id_диска], [количество_на_складе], [дата_поступления], [партия], [поставщик], [гарантия_мес], [место_хранения], [статус_товара], [примечание]) VALUES (2, 2, 6, CAST(N'2024-01-18' AS Date), N'D2024-02', N'ООО "ДискМастер"', 24, N'Ряд F, стеллаж 2', N'В наличии', NULL)
INSERT [dbo].[Склад_дисков] ([id_записи], [id_диска], [количество_на_складе], [дата_поступления], [партия], [поставщик], [гарантия_мес], [место_хранения], [статус_товара], [примечание]) VALUES (3, 3, 4, CAST(N'2024-01-22' AS Date), N'D2024-03', N'ИП Петров', 36, N'Ряд G, стеллаж 1', N'В наличии', NULL)
INSERT [dbo].[Склад_дисков] ([id_записи], [id_диска], [количество_на_складе], [дата_поступления], [партия], [поставщик], [гарантия_мес], [место_хранения], [статус_товара], [примечание]) VALUES (4, 4, 15, CAST(N'2024-01-28' AS Date), N'D2024-04', N'ООО "ДискМастер"', 12, N'Ряд G, стеллаж 2', N'В наличии', NULL)
INSERT [dbo].[Склад_дисков] ([id_записи], [id_диска], [количество_на_складе], [дата_поступления], [партия], [поставщик], [гарантия_мес], [место_хранения], [статус_товара], [примечание]) VALUES (5, 5, 2, CAST(N'2024-02-03' AS Date), N'D2024-05', N'ИП Петров', 48, N'Ряд H, стеллаж 1', N'Под заказ', N'Ожидается 18.03')
INSERT [dbo].[Склад_дисков] ([id_записи], [id_диска], [количество_на_складе], [дата_поступления], [партия], [поставщик], [гарантия_мес], [место_хранения], [статус_товара], [примечание]) VALUES (6, 6, 10, CAST(N'2024-02-08' AS Date), N'D2024-06', N'ООО "ДискМастер"', 24, N'Ряд H, стеллаж 2', N'В наличии', NULL)
INSERT [dbo].[Склад_дисков] ([id_записи], [id_диска], [количество_на_складе], [дата_поступления], [партия], [поставщик], [гарантия_мес], [место_хранения], [статус_товара], [примечание]) VALUES (7, 7, 3, CAST(N'2024-02-12' AS Date), N'D2024-07', N'ИП Петров', 36, N'Ряд I, стеллаж 1', N'В наличии', NULL)
INSERT [dbo].[Склад_дисков] ([id_записи], [id_диска], [количество_на_складе], [дата_поступления], [партия], [поставщик], [гарантия_мес], [место_хранения], [статус_товара], [примечание]) VALUES (8, 8, 20, CAST(N'2024-02-18' AS Date), N'D2024-08', N'ООО "ДискМастер"', 12, N'Ряд I, стеллаж 2', N'В наличии', NULL)
INSERT [dbo].[Склад_дисков] ([id_записи], [id_диска], [количество_на_складе], [дата_поступления], [партия], [поставщик], [гарантия_мес], [место_хранения], [статус_товара], [примечание]) VALUES (9, 9, 1, CAST(N'2024-02-22' AS Date), N'D2024-09', N'ИП Петров', 48, N'Ряд J, стеллаж 1', N'Под заказ', N'Ожидается 25.03')
INSERT [dbo].[Склад_дисков] ([id_записи], [id_диска], [количество_на_складе], [дата_поступления], [партия], [поставщик], [гарантия_мес], [место_хранения], [статус_товара], [примечание]) VALUES (10, 10, 12, CAST(N'2024-02-28' AS Date), N'D2024-10', N'ООО "ДискМастер"', 24, N'Ряд J, стеллаж 2', N'В наличии', NULL)
SET IDENTITY_INSERT [dbo].[Склад_дисков] OFF
GO

# [dbo].[Склад_шин]

In [0]:
SET IDENTITY_INSERT [dbo].[Склад_шин] ON 
INSERT [dbo].[Склад_шин] ([id_записи], [id_шины], [количество_на_складе], [дата_поступления], [партия], [поставщик], [срок_годности], [место_хранения], [статус_товара], [примечание]) VALUES (1, 1, 12, CAST(N'2024-01-10' AS Date), N'P2024-01', N'ООО "Автошина"', CAST(N'2027-01-10' AS Date), N'Ряд A, стеллаж 1', N'В наличии', NULL)
INSERT [dbo].[Склад_шин] ([id_записи], [id_шины], [количество_на_складе], [дата_поступления], [партия], [поставщик], [срок_годности], [место_хранения], [статус_товара], [примечание]) VALUES (2, 2, 8, CAST(N'2024-01-15' AS Date), N'P2024-02', N'ООО "Автошина"', CAST(N'2027-01-15' AS Date), N'Ряд A, стеллаж 2', N'В наличии', NULL)
INSERT [dbo].[Склад_шин] ([id_записи], [id_шины], [количество_на_складе], [дата_поступления], [партия], [поставщик], [срок_годности], [место_хранения], [статус_товара], [примечание]) VALUES (3, 3, 5, CAST(N'2024-01-20' AS Date), N'P2024-03', N'ИП Сидоров', CAST(N'2027-01-20' AS Date), N'Ряд B, стеллаж 1', N'В наличии', NULL)
INSERT [dbo].[Склад_шин] ([id_записи], [id_шины], [количество_на_складе], [дата_поступления], [партия], [поставщик], [срок_годности], [место_хранения], [статус_товара], [примечание]) VALUES (4, 4, 10, CAST(N'2024-01-25' AS Date), N'P2024-04', N'ООО "Автошина"', CAST(N'2027-01-25' AS Date), N'Ряд B, стеллаж 2', N'В наличии', NULL)
INSERT [dbo].[Склад_шин] ([id_записи], [id_шины], [количество_на_складе], [дата_поступления], [партия], [поставщик], [срок_годности], [место_хранения], [статус_товара], [примечание]) VALUES (5, 5, 20, CAST(N'2024-02-01' AS Date), N'P2024-05', N'ИП Сидоров', CAST(N'2027-02-01' AS Date), N'Ряд C, стеллаж 1', N'В наличии', NULL)
INSERT [dbo].[Склад_шин] ([id_записи], [id_шины], [количество_на_складе], [дата_поступления], [партия], [поставщик], [срок_годности], [место_хранения], [статус_товара], [примечание]) VALUES (6, 6, 3, CAST(N'2024-02-05' AS Date), N'P2024-06', N'ООО "Автошина"', CAST(N'2027-02-05' AS Date), N'Ряд C, стеллаж 2', N'Под заказ', N'Ожидается 15.03')
INSERT [dbo].[Склад_шин] ([id_записи], [id_шины], [количество_на_складе], [дата_поступления], [партия], [поставщик], [срок_годности], [место_хранения], [статус_товара], [примечание]) VALUES (7, 7, 25, CAST(N'2024-02-10' AS Date), N'P2024-07', N'ИП Сидоров', CAST(N'2027-02-10' AS Date), N'Ряд D, стеллаж 1', N'В наличии', NULL)
INSERT [dbo].[Склад_шин] ([id_записи], [id_шины], [количество_на_складе], [дата_поступления], [партия], [поставщик], [срок_годности], [место_хранения], [статус_товара], [примечание]) VALUES (8, 8, 7, CAST(N'2024-02-15' AS Date), N'P2024-08', N'ООО "Автошина"', CAST(N'2027-02-15' AS Date), N'Ряд D, стеллаж 2', N'В наличии', NULL)
INSERT [dbo].[Склад_шин] ([id_записи], [id_шины], [количество_на_складе], [дата_поступления], [партия], [поставщик], [срок_годности], [место_хранения], [статус_товара], [примечание]) VALUES (9, 9, 2, CAST(N'2024-02-20' AS Date), N'P2024-09', N'ИП Сидоров', CAST(N'2027-02-20' AS Date), N'Ряд E, стеллаж 1', N'Под заказ', N'Ожидается 20.03')
INSERT [dbo].[Склад_шин] ([id_записи], [id_шины], [количество_на_складе], [дата_поступления], [партия], [поставщик], [срок_годности], [место_хранения], [статус_товара], [примечание]) VALUES (10, 10, 30, CAST(N'2024-02-25' AS Date), N'P2024-10', N'ООО "Автошина"', CAST(N'2027-02-25' AS Date), N'Ряд E, стеллаж 2', N'В наличии', NULL)
SET IDENTITY_INSERT [dbo].[Склад_шин] OFF
GO

# [dbo].[Услуги]

In [0]:
SET IDENTITY_INSERT [dbo].[Услуги] ON 
INSERT [dbo].[Услуги] ([id_услуги], [название], [описание], [категория], [длительность_мин], [стоимость], [требуется_шины], [требуется_диски], [активна], [примечание]) VALUES (1, N'Монтаж шин', N'Установка шин на диски', N'Монтаж', 20, CAST(800.00 AS Decimal(10, 2)), 1, 1, 1, NULL)
INSERT [dbo].[Услуги] ([id_услуги], [название], [описание], [категория], [длительность_мин], [стоимость], [требуется_шины], [требуется_диски], [активна], [примечание]) VALUES (2, N'Демонтаж шин', N'Снятие шин с дисков', N'Монтаж', 15, CAST(600.00 AS Decimal(10, 2)), 1, 1, 1, NULL)
INSERT [dbo].[Услуги] ([id_услуги], [название], [описание], [категория], [длительность_мин], [стоимость], [требуется_шины], [требуется_диски], [активна], [примечание]) VALUES (3, N'Балансировка колеса', N'Статическая и динамическая балансировка', N'Балансировка', 10, CAST(500.00 AS Decimal(10, 2)), 0, 0, 1, NULL)
INSERT [dbo].[Услуги] ([id_услуги], [название], [описание], [категория], [длительность_мин], [стоимость], [требуется_шины], [требуется_диски], [активна], [примечание]) VALUES (4, N'Хранение шин', N'Сезонное хранение комплекта', N'Хранение', 5, CAST(1500.00 AS Decimal(10, 2)), 1, 0, 1, N'На 6 месяцев')
INSERT [dbo].[Услуги] ([id_услуги], [название], [описание], [категория], [длительность_мин], [стоимость], [требуется_шины], [требуется_диски], [активна], [примечание]) VALUES (5, N'Ремонт прокола', N'Заплатка бескамерной шины', N'Ремонт', 30, CAST(1200.00 AS Decimal(10, 2)), 1, 0, 1, NULL)
INSERT [dbo].[Услуги] ([id_услуги], [название], [описание], [категория], [длительность_мин], [стоимость], [требуется_шины], [требуется_диски], [активна], [примечание]) VALUES (6, N'Правка диска', N'Выравнивание геометрии диска', N'Ремонт', 45, CAST(2500.00 AS Decimal(10, 2)), 0, 1, 1, NULL)
INSERT [dbo].[Услуги] ([id_услуги], [название], [описание], [категория], [длительность_мин], [стоимость], [требуется_шины], [требуется_диски], [активна], [примечание]) VALUES (7, N'Диагностика подвески', N'Проверка состояния ходовой', N'Диагностика', 30, CAST(1000.00 AS Decimal(10, 2)), 0, 0, 1, NULL)
INSERT [dbo].[Услуги] ([id_услуги], [название], [описание], [категория], [длительность_мин], [стоимость], [требуется_шины], [требуется_диски], [активна], [примечание]) VALUES (8, N'Переобувка комплекта', N'Полная замена комплекта шин', N'Монтаж', 60, CAST(2500.00 AS Decimal(10, 2)), 1, 1, 1, NULL)
INSERT [dbo].[Услуги] ([id_услуги], [название], [описание], [категория], [длительность_мин], [стоимость], [требуется_шины], [требуется_диски], [активна], [примечание]) VALUES (9, N'Нанесение герметика', N'Защита от проколов', N'Ремонт', 20, CAST(900.00 AS Decimal(10, 2)), 1, 0, 1, NULL)
INSERT [dbo].[Услуги] ([id_услуги], [название], [описание], [категория], [длительность_мин], [стоимость], [требуется_шины], [требуется_диски], [активна], [примечание]) VALUES (10, N'Покраска дисков', N'Восстановление внешнего вида', N'Ремонт', 120, CAST(4000.00 AS Decimal(10, 2)), 0, 1, 1, NULL)
SET IDENTITY_INSERT [dbo].[Услуги] OFF
GO

# [dbo].[Шины]

In [0]:
SET IDENTITY_INSERT [dbo].[Шины] ON 
INSERT [dbo].[Шины] ([id_шины], [производитель], [модель_шины], [ширина], [высота_профиля], [диаметр_диска], [сезонность], [шипы], [индекс_скорости], [индекс_нагрузки], [цена_за_штуку]) VALUES (1, N'Michelin', N'Primacy 4', 205, 55, 16, N'Лето', 0, N'V', 91, CAST(8500.00 AS Decimal(10, 2)))
INSERT [dbo].[Шины] ([id_шины], [производитель], [модель_шины], [ширина], [высота_профиля], [диаметр_диска], [сезонность], [шипы], [индекс_скорости], [индекс_нагрузки], [цена_за_штуку]) VALUES (2, N'Nokian', N'Hakkapeliitta R3', 205, 55, 16, N'Зима', 1, N'T', 91, CAST(9200.00 AS Decimal(10, 2)))
INSERT [dbo].[Шины] ([id_шины], [производитель], [модель_шины], [ширина], [высота_профиля], [диаметр_диска], [сезонность], [шипы], [индекс_скорости], [индекс_нагрузки], [цена_за_штуку]) VALUES (3, N'Continental', N'ContiSportContact 5', 225, 45, 17, N'Лето', 0, N'Y', 94, CAST(10500.00 AS Decimal(10, 2)))
INSERT [dbo].[Шины] ([id_шины], [производитель], [модель_шины], [ширина], [высота_профиля], [диаметр_диска], [сезонность], [шипы], [индекс_скорости], [индекс_нагрузки], [цена_за_штуку]) VALUES (4, N'Bridgestone', N'Blizzak WS90', 215, 60, 17, N'Зима', 1, N'H', 96, CAST(8900.00 AS Decimal(10, 2)))
INSERT [dbo].[Шины] ([id_шины], [производитель], [модель_шины], [ширина], [высота_профиля], [диаметр_диска], [сезонность], [шипы], [индекс_скорости], [индекс_нагрузки], [цена_за_штуку]) VALUES (5, N'Goodyear', N'EfficientGrip Performance', 195, 65, 15, N'Лето', 0, N'H', 91, CAST(6800.00 AS Decimal(10, 2)))
INSERT [dbo].[Шины] ([id_шины], [производитель], [модель_шины], [ширина], [высота_профиля], [диаметр_диска], [сезонность], [шипы], [индекс_скорости], [индекс_нагрузки], [цена_за_штуку]) VALUES (6, N'Pirelli', N'Winter Sottozero 3', 225, 45, 18, N'Зима', 0, N'Y', 95, CAST(11200.00 AS Decimal(10, 2)))
INSERT [dbo].[Шины] ([id_шины], [производитель], [модель_шины], [ширина], [высота_профиля], [диаметр_диска], [сезонность], [шипы], [индекс_скорости], [индекс_нагрузки], [цена_за_штуку]) VALUES (7, N'Hankook', N'Kinergy Eco 2', 185, 65, 15, N'Лето', 0, N'T', 88, CAST(5200.00 AS Decimal(10, 2)))
INSERT [dbo].[Шины] ([id_шины], [производитель], [модель_шины], [ширина], [высота_профиля], [диаметр_диска], [сезонность], [шипы], [индекс_скорости], [индекс_нагрузки], [цена_за_штуку]) VALUES (8, N'Yokohama', N'Ice Guard iG60', 205, 55, 16, N'Зима', 1, N'H', 91, CAST(7800.00 AS Decimal(10, 2)))
INSERT [dbo].[Шины] ([id_шины], [производитель], [модель_шины], [ширина], [высота_профиля], [диаметр_диска], [сезонность], [шипы], [индекс_скорости], [индекс_нагрузки], [цена_за_штуку]) VALUES (9, N'Toyo', N'Proxes Sport', 235, 40, 18, N'Лето', 0, N'Y', 95, CAST(12000.00 AS Decimal(10, 2)))
INSERT [dbo].[Шины] ([id_шины], [производитель], [модель_шины], [ширина], [высота_профиля], [диаметр_диска], [сезонность], [шипы], [индекс_скорости], [индекс_нагрузки], [цена_за_штуку]) VALUES (10, N'Matador', N'MP 92 Sibir Snow', 195, 65, 15, N'Зима', 1, N'T', 91, CAST(4500.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Шины] OFF
GO

# [UQ__Автомоби__DDB00C66392FD3EF]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Автомоби__DDB00C66392FD3EF]    Script Date: 24.09.2025 10:44:02 ******/
ALTER TABLE [dbo].[Автомобили] ADD UNIQUE NONCLUSTERED 
(
	[vin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [UQ__Клиенты__9C6E64643E2EBE62]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Клиенты__9C6E64643E2EBE62]    Script Date: 24.09.2025 10:44:02 ******/
ALTER TABLE [dbo].[Клиенты] ADD UNIQUE NONCLUSTERED 
(
	[телефон] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [DF__Заказы__скидка_п__38996AB5]

In [0]:
ALTER TABLE [dbo].[Заказы] ADD  DEFAULT ((0)) FOR [скидка_процент]
GO

# [DF__Заказы__оплачен__398D8EEE]

In [0]:
ALTER TABLE [dbo].[Заказы] ADD  DEFAULT ((0)) FOR [оплачен]
GO

# [DF__Клиенты__бонусны__25869641]

In [0]:
ALTER TABLE [dbo].[Клиенты] ADD  DEFAULT ((0)) FOR [бонусные_баллы]
GO

# [DF__Персонал__активе__4E88ABD4]

In [0]:
ALTER TABLE [dbo].[Персонал] ADD  DEFAULT ((1)) FOR [активен]
GO

# [DF__Состав_за__колич__3E52440B]

In [0]:
ALTER TABLE [dbo].[Состав_заказа] ADD  DEFAULT ((1)) FOR [количество]
GO

# [DF__Состав_за__выпол__3F466844]

In [0]:
ALTER TABLE [dbo].[Состав_заказа] ADD  DEFAULT ((0)) FOR [выполнено]
GO

# [DF__Услуги__активна__34C8D9D1]

In [0]:
ALTER TABLE [dbo].[Услуги] ADD  DEFAULT ((1)) FOR [активна]
GO

# [FK_Автомобили_Клиенты]

In [0]:
ALTER TABLE [dbo].[Автомобили]  WITH CHECK ADD  CONSTRAINT [FK_Автомобили_Клиенты] FOREIGN KEY([id_клиента])
REFERENCES [dbo].[Клиенты] ([id_клиента])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Автомобили] CHECK CONSTRAINT [FK_Автомобили_Клиенты]
GO

# [FK_Заказы_Автомобили]

In [0]:
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD  CONSTRAINT [FK_Заказы_Автомобили] FOREIGN KEY([id_авто])
REFERENCES [dbo].[Автомобили] ([id_авто])
GO
ALTER TABLE [dbo].[Заказы] CHECK CONSTRAINT [FK_Заказы_Автомобили]
GO

# [FK_Заказы_Клиенты]

In [0]:
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD  CONSTRAINT [FK_Заказы_Клиенты] FOREIGN KEY([id_клиента])
REFERENCES [dbo].[Клиенты] ([id_клиента])
GO
ALTER TABLE [dbo].[Заказы] CHECK CONSTRAINT [FK_Заказы_Клиенты]
GO

# [FK_СкладДисков_Диски]

In [0]:
ALTER TABLE [dbo].[Склад_дисков]  WITH CHECK ADD  CONSTRAINT [FK_СкладДисков_Диски] FOREIGN KEY([id_диска])
REFERENCES [dbo].[Диски] ([id_диска])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Склад_дисков] CHECK CONSTRAINT [FK_СкладДисков_Диски]
GO

# [FK_СкладШин_Шины]

In [0]:
ALTER TABLE [dbo].[Склад_шин]  WITH CHECK ADD  CONSTRAINT [FK_СкладШин_Шины] FOREIGN KEY([id_шины])
REFERENCES [dbo].[Шины] ([id_шины])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Склад_шин] CHECK CONSTRAINT [FK_СкладШин_Шины]
GO

# [FK_Состав_Диски]

In [0]:
ALTER TABLE [dbo].[Состав_заказа]  WITH CHECK ADD  CONSTRAINT [FK_Состав_Диски] FOREIGN KEY([id_диска])
REFERENCES [dbo].[Диски] ([id_диска])
GO
ALTER TABLE [dbo].[Состав_заказа] CHECK CONSTRAINT [FK_Состав_Диски]
GO

# [FK_Состав_Заказы]

In [0]:
ALTER TABLE [dbo].[Состав_заказа]  WITH CHECK ADD  CONSTRAINT [FK_Состав_Заказы] FOREIGN KEY([id_заказа])
REFERENCES [dbo].[Заказы] ([id_заказа])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Состав_заказа] CHECK CONSTRAINT [FK_Состав_Заказы]
GO

# [FK_Состав_Услуги]

In [0]:
ALTER TABLE [dbo].[Состав_заказа]  WITH CHECK ADD  CONSTRAINT [FK_Состав_Услуги] FOREIGN KEY([id_услуги])
REFERENCES [dbo].[Услуги] ([id_услуги])
GO
ALTER TABLE [dbo].[Состав_заказа] CHECK CONSTRAINT [FK_Состав_Услуги]
GO

# [FK_Состав_Шины]

In [0]:
ALTER TABLE [dbo].[Состав_заказа]  WITH CHECK ADD  CONSTRAINT [FK_Состав_Шины] FOREIGN KEY([id_шины])
REFERENCES [dbo].[Шины] ([id_шины])
GO
ALTER TABLE [dbo].[Состав_заказа] CHECK CONSTRAINT [FK_Состав_Шины]
GO

# [CK__Автомобил__тип_а__2A4B4B5E]

In [0]:
ALTER TABLE [dbo].[Автомобили]  WITH CHECK ADD CHECK  (([тип_авто]=N'Коммерческий' OR [тип_авто]=N'Минивэн' OR [тип_авто]=N'Внедорожник' OR [тип_авто]=N'Легковой'))
GO

# [CK__Диски__материал__30F848ED]

In [0]:
ALTER TABLE [dbo].[Диски]  WITH CHECK ADD CHECK  (([материал]=N'Кованый' OR [материал]=N'Алюминий' OR [материал]=N'Сталь'))
GO

# [CK__Заказы__статус__37A5467C]

In [0]:
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD CHECK  (([статус]=N'Отменён' OR [статус]=N'Выдан' OR [статус]=N'Готов' OR [статус]=N'В работе' OR [статус]=N'Принят'))
GO

# [CK__Клиенты__статус___267ABA7A]

In [0]:
ALTER TABLE [dbo].[Клиенты]  WITH CHECK ADD CHECK  (([статус_клиента]=N'VIP' OR [статус_клиента]=N'Постоянный' OR [статус_клиента]=N'Новый'))
GO

# [CK__Персонал__должно__4D94879B]

In [0]:
ALTER TABLE [dbo].[Персонал]  WITH CHECK ADD CHECK  (([должность]=N'Администратор' OR [должность]=N'Кладовщик' OR [должность]=N'Менеджер' OR [должность]=N'Мастер'))
GO

# [CK__Склад_дис__стату__49C3F6B7]

In [0]:
ALTER TABLE [dbo].[Склад_дисков]  WITH CHECK ADD CHECK  (([статус_товара]=N'Распродано' OR [статус_товара]=N'Под заказ' OR [статус_товара]=N'В наличии'))
GO

# [CK__Склад_шин__стату__45F365D3]

In [0]:
ALTER TABLE [dbo].[Склад_шин]  WITH CHECK ADD CHECK  (([статус_товара]=N'Распродано' OR [статус_товара]=N'Под заказ' OR [статус_товара]=N'В наличии'))
GO

# [CK__Услуги__категори__33D4B598]

In [0]:
ALTER TABLE [dbo].[Услуги]  WITH CHECK ADD CHECK  (([категория]=N'Диагностика' OR [категория]=N'Ремонт' OR [категория]=N'Хранение' OR [категория]=N'Балансировка' OR [категория]=N'Монтаж'))
GO

# [CK__Шины__сезонность__2E1BDC42]

In [0]:
ALTER TABLE [dbo].[Шины]  WITH CHECK ADD CHECK  (([сезонность]=N'Всесезон' OR [сезонность]=N'Зима' OR [сезонность]=N'Лето'))
GO

# [ShinoMontazh]

In [0]:
USE [master]
GO

In [0]:
ALTER DATABASE [ShinoMontazh] SET  READ_WRITE 
GO